

.rank_list{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 154, 39);
}

.rank_name{
    /* display: flex;
    justify-content: left; */
    margin-left: 240px; 
}

.rank_score{
    /* display: flex;
    justify-content: right; */
    margin-right: 240px;
}

.rank_btn-1{
    padding: 12px;
    border: none;
    box-shadow: 2px 1px 6px grey;
    margin-left: 12px;
    border-radius: 4px;
}

.rank-btn-container{
    display: contents;
    font-size: 24px;
}

.rank_btn-1:hover{
    border-bottom: 2px solid rgb(30, 63, 250);
    cursor: pointer;
    box-shadow: 2px 1px 6px rgb(49, 114, 255);
}

@media only screen and (max-width: 700px){
    .rank_name{
        margin-left: 140px; 
    }
    
    .rank_score{
        margin-right: 140px;
    }
}

@media only screen and (max-width: 450px){
    .rank_name{
        margin-left: 80px; 
    }
    
    .rank_score{
        margin-right: 80px;
    }
}

@media only screen and (max-width: 350px){
    .rank_name{
        margin-left: 50px; 
    }
    
    .rank_score{
        margin-right: 50px;
    }
}